<form class='post-form' {{action 'submitPost' content on='submit'}} >

	<label>Title</label>
	{{input type='text' value=title}}

	<label>Topic</label>
	{{input type='text' value=topic}}

	<label>Summary</label>
	{{textarea type='text' value=summary class='summary'}}

	<label>Entry</label>
	{{textarea type='text' value=entry}}

	<button>Submit</button>
</form>