{{outlet}}

<div class='friends-graph-sidebar'>
{{#with connectionBeingViewed}}
	{{#if largePictureUrl}}
		<img {{bind-attr src=largePictureUrl}}>
	{{else}}
		<div>Hang on, we're still getting these images.</div>
	{{/if}}
	<ul>
		<li>{{firstName}} {{lastName}}</li>
		<li>{{headline}}</li>
		<li>{{industry}}</li>
		{{#if numConnections}}
			<li>{{numConnections}} connections</li>
		{{/if}}
	</ul>
{{/with}}
</div>
